/* index.css */

@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap");

body,
.background-container {
  background-image: url("../public/background.svg"); /* Substitua com o caminho correto */
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Bruno Ace", sans-serif;
  color: white;
}

.menu {
  z-index: 99999;
  cursor: pointer;
  display: flex;
  justify-content: center; /* Centraliza o menu horizontalmente */
  list-style: none;
  position: fixed; /* Alterado de absolute para fixed */
  top: 50px; /* Mantém o menu a 50px do topo da tela */
  right: 100px; /* Posiciona o menu a 100px da direita da tela */
  padding: 0;
  margin: 0;
  border: 2px solid white; /* Cria a borda ao redor do contêiner do menu */
  border-radius: 10px; /* Arredonda as bordas */
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adiciona um fundo semitransparente ao menu */
}

.menu-item {
  cursor: pointer;
  padding: 15px 35px 15px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  font-size: 38px;
  animation: fadeIn 3s ease-in forwards;
}

.centered-content :nth-child(1) {
  text-decoration: none;
  border-bottom: 2px solid white;
  padding-bottom: 1px;
}

a {
  color: white;
  text-decoration: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: auto;
  font-size: 16px;
  padding: 10px;
}
.section-title {
  padding-bottom: 20px;
  max-width: 810px;
  justify-content: space-around;
}

.section-text {
  margin: 100px;
  padding-bottom: 50px;
  max-width: 810px;
  justify-content: space-around;
  line-height: 38px;
  text-align: justify;
}

.section-text p {
  margin-bottom: 10px;
  justify-content: space-between;
}

.logos {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-company img {
  max-width: 297px;
  margin: 50px;
  margin-top: -550px;
  margin-right: 20px;
  animation: fadeIn 2s ease-in forwards;
}

@keyframes float {
  0%,
  100% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-20px);
  }
}

.astronaut img {
  animation: float 3s ease-in-out infinite, fadeIn 2s ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.teste {
  margin-right: 500px;
  align-items: center;
}

button {
  background-color: none;
  border: 2px white solid;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  font-family: "Bruno Ace";
  font-size: 12px;
}

button:hover {
  background-color: grey;
}

.launch-pad.hidden p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-height: 20px;
}

.launch-pad {
  transition: max-height 0.5s ease;
}

/* Efeito ao expandir */
.launch-pad:not(.hidden) p {
  max-height: 100x;
  overflow: visible;
}

.nasa-img {
  border-radius: 25px;
}
